@model IEnumerable<RecipeBlog.Models.Category>

<section id="category-list">
    <ul class="posts">
        @foreach (var c in Model)
        {
            <li>
                <article>
                    <header>
                        <h3>@Html.ActionLink(c.Name, "cateogry", "food", new { SEName = c.SEName, id = c.Id }, null)</h3>
                        <p>@c.Blurb</p>
                    </header>
                    <a href="/food/category/@c.SEName/@c.Id" class="image"><img src="/images/category/@c.ImageName" alt="@c.Name" /></a>
                </article>
            </li>
        }
    </ul>
</section>