@model IEnumerable<RecipeBlog.Models.Recipe>

@{
    ViewBag.Title = "Latest in Food";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

<a href="/food/recipe/14">This one doesn't exist</a>


@Html.Partial("_RecipeRepeater")
